In [48]:
import numpy as np
import pandas as pd
import statistics

In [49]:
# Read the data into a Pandas DataFrame
crowdfunding_data = pd.ExcelFile("crowdfunding.xlsx")
# Get the sheet names.
crowdfunding_data.sheet_names

['crowdfunding_info', 'contact_info']

In [50]:
# 1. Read the crowdfunding_info sheet into a new DataFrame
    # Get the crowdfunding_info from the crowdfunding_info worksheet. 
crowdfunding_info_df = pd.read_excel(crowdfunding_data, sheet_name='crowdfunding_info')
crowdfunding_info_df.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

#### Let’s go over the preceding code.

* The pd.set_option('max_colwidth', 400) line sets the width of each column to 400 pixels. That’s to help us view all the data in the column.
* The next line includes the header=2 parameter. Why are we using this? Recall that on the contact_info worksheet, the first two rows have information about the data on the sheet.
* Then come two blank rows, a header row that’s labeled "contact_info," and six rows of data. The header parameter uses list indexing, where the index of the first row is 0, the index of the second row is 1, and so on. This means that the row that’s labeled "contact_info" is the fourth row, which gives us header=3.

In [51]:
# 2. Read the contact_info worksheet into a new DataFrame.

    # Increase the width of the column.
pd.set_option('max_colwidth', 400)

    # Get the contact_info from the contact_info worksheet.
contact_info_df = pd.read_excel(crowdfunding_data, sheet_name='contact_info', header=2)
contact_info_df.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

In [52]:
# Verify the data: randomly sample a few rows by using the sample()
contact_info_df.sample(5)

550               {"contact_id": 4356, "name": "Sonia Volta", "email": "sonia.volta@gmx.de"}
464          {"contact_id": 3871, "name": "Alvaro Lemus", "email": "alvaro.lemus@yahoo.com"}
67   {"contact_id": 5373, "name": "Clelia Faulkner", "email": "clelia.faulkner@hotmail.com"}
633             {"contact_id": 2609, "name": "Henry Gucci", "email": "henry.gucci@leleu.fr"}
860  {"contact_id": 3273, "name": "Federigo Karge", "email": "federigo.karge@bohlander.com"}

In [53]:
# Verify the data: Randomly sample using DataFrame named df, df.sample(n=5)
crowdfunding_info_df.sample(3)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
954,201,"Henderson, Parker and Diaz",Enterprise-wide client-driven policy,42600,156384,successful,1548,AU,AUD,1626670800,1638511200,False,False,technology/web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
680,2600,Nelson-Valdez,Open-source 4thgeneration open system,145600,141822,failed,2955,US,USD,1581660000,1617685200,False,True,games/mobile games

* Now that you’ve extracted both the crowdfunding data and the contact info data, Britta wants to know what the data types of the columns in each DataFrame are, whether any null values exist.
* To get the information that Britta wants, let’s get some basic information about each DataFrame.

In [54]:
# Get a brief summary of the crowdfunding_info DataFrame. 
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [55]:
# Get a brief summary of the contact_info DataFrame. 
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0           1001 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [56]:
# Get the unique values in the category & sub-category column. 
crowdfunding_info_df["category & sub-category"].unique()

array(['food/food trucks', 'music/rock', 'technology/web',
       'theater/plays', 'film & video/documentary',
       'music/electric music', 'film & video/drama', 'music/indie rock',
       'technology/wearables', 'publishing/nonfiction',
       'film & video/animation', 'games/video games',
       'film & video/shorts', 'publishing/fiction',
       'photography/photography books', 'publishing/radio & podcasts',
       'music/metal', 'music/jazz', 'publishing/translations',
       'film & video/television', 'games/mobile games',
       'music/world music', 'film & video/science fiction',
       'journalism/audio'], dtype=object)

#### Clean the Category and Subcategory Data
* To split the values in the "category & sub-category" column we can use the Pandas .str.split method. Specifically, we’ll make one split on the forward slash (/), assign the beginning string (before the split) to a "category" column in the crowdfunding_info_df DataFrame, and assign the ending string (after the split) to a "subcategory" column in the same DataFrame.

In [57]:
# Assign the category and subcategory values to category and subcategory columns.
crowdfunding_info_df[["category","subcategory"]] = crowdfunding_info_df["category & sub-category"].str.split('/', n=1, expand=True)
crowdfunding_info_df.head(5)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

* Let’s review the preceding code. On the left side of the equation (crowdfunding_info_df[["category","subcategory"]]), we create two new columns, named "category" and "subcategory", in the crowdfunding_info_df DataFrame.

* On the right side of the equation (crowdfunding_info_df["category & sub-category"].str.split('/', n=1, expand=True)), we split the "category & sub-category" column values on the forward slash, where the number of splits is 1 (n=1). After we set the expand parameter to True to split the string into separate columns, the newly created columns will be assigned values .

#### Transform the Category and Subcategory Data
* To create a unique identification number for each category and subcategory in its respective column, we need to get the number of unique category values and and the number of unique subcategory values.

* To execute this, we can use the nunique method on a DataFrame column, which returns the number of unique values in that column.

In [58]:
# Get the distinct values in the category and subcategory columns.
print(crowdfunding_info_df["category"].nunique())
print(crowdfunding_info_df["subcategory"].nunique())

9
24

* Next, we need to create category_df and subcategory_df DataFrames. To do so, we’ll use the unique() method on the "category" and "subcategory" columns of the crowdfunding_info_df DataFrame and store the unique values in separate lists.

In [59]:
# Get the unique categories and subcategories in separate lists. 
categories = crowdfunding_info_df["category"].unique()
subcategories = crowdfunding_info_df["subcategory"].unique()
print(categories)
print()
print(subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']

['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

* Next, we need a plan for creating unique numbers for the categories and subcategories. So, we’ll create two NumPy arrays that have unique numbers for the categories and subcategories, respectively.

In [64]:
# Create numpy arrays that have 1-10 for the category_ids and 1-25 for the subcategory_ids.
category_ids = np.arange(1, 10)
category_ids

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [67]:
# Create numpy arrays that have 1-25 for the subcategory_ids.
subcategory_ids = np.arange(1, 25)
subcategory_ids

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [68]:
# Use a list comprehension to add "cat0" to each category_id. 
cat_ids = ["cat0" + str(cat_id) for cat_id in category_ids]

# Use a list comprehension to add "scat0" to each subcategory_id. 
scat_ids = ["scat0" + str(scat_id) for scat_id in subcategory_ids ]

print(cat_ids)
print(scat_ids)

['cat01', 'cat02', 'cat03', 'cat04', 'cat05', 'cat06', 'cat07', 'cat08', 'cat09']
['scat01', 'scat02', 'scat03', 'scat04', 'scat05', 'scat06', 'scat07', 'scat08', 'scat09', 'scat010', 'scat011', 'scat012', 'scat013', 'scat014', 'scat015', 'scat016', 'scat017', 'scat018', 'scat019', 'scat020', 'scat021', 'scat022', 'scat023', 'scat024']

In [74]:
# Create a category DataFrame with the cat_ids array as the category_id and categories list as the category name.
category_df = pd.DataFrame({
    "category_id": cat_ids,
    "category" : categories
})
category_df.head()

  category_id      category
0       cat01          food
1       cat02         music
2       cat03    technology
3       cat04       theater
4       cat05  film & video

In [73]:
# Create a subcategory DataFrame with the scat_ids array as the subcategory_id and subcategories list as the subcategory name.
subcategory_df = pd.DataFrame({
    "subcategory_id": scat_ids,
    "subcategory" : subcategories
})
subcategory_df.head()

  subcategory_id  subcategory
0         scat01  food trucks
1         scat02         rock
2         scat03          web
3         scat04        plays
4         scat05  documentary

In [77]:
# export the category_df and subcategory_df DataFrames as CSV files. 
category_df.to_csv("category.csv", index=False)

In [78]:
# export the subcategory_df DataFrames as CSV files. 
subcategory_df.to_csv("subcategory.csv", index=False)